<!DOCTYPE html>
<head>
    <title>Alerta do Tempo</title>
</head>
<body id="body">
    <h1>Olha esse Design</h1>
    <form action="" method="post" style="display:inline-grid;" id="formCadastro">
        {% csrf_token %}
        <label for="nome">Nome: </label><input type="text" id="nome" name="nome"/>
        <label for="celular">Celular: </label><input type="text" id="celular" name="celular"/>
        <label for="senha">Senha: </label><input type="password" id="senha" name="senha"/>
        <label for="estado">Estado: </label><input type="text" id="estado" name="estado"/>
        <label for="municipio">Município: </label><input type="text" id="municipio" name="municipio"/>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>

<script>
    //Submit do formulário
    document.getElementById("formCadastro").onsubmit = function(event){
        
        event.preventDefault();
        
        let xhr = new XMLHttpRequest();
        var url = "{% url 'alertaDoTempo:cadastro' %}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Accept", 'application/x-www-form-urlencoded');
        xhr.setRequestHeader("Content-Type", 'application/x-www-form-urlencoded');

        let tokens = document.getElementsByName("csrfmiddlewaretoken");
        let csrf_token = tokens[0].getAttribute("value");

        xhr.setRequestHeader('X-CSRF-Token', csrf_token);

        xhr.onload = () => respostaRequisicao(xhr.responseText);

        let data = new URLSearchParams(new FormData(this)).toString();
        console.log(data);

        xhr.send(data);
    };

    //Resposta para inserção do cadastro
    function respostaRequisicao(respostaJSON){
        var resposta = JSON.parse(respostaJSON);
        var body = document.getElementById("body");
        if(resposta['sucesso'] == true){
            body.innerHTML = "<h1>Sucesso!</h1>";
            body.animate([{opacity: 0, backgroundColor: "#fff"},
                        {opacity: 1, backgroundColor: "#0f0"}
                    ], { duration: 2000, fill: 'forwards' });
        }else{
            body.innerHTML = "<h1>Erro de Inserção!</h1>";
            body.animate([{opacity: 0, backgroundColor: "#fff"},
                        {opacity: 1, backgroundColor: "#f00"}
                    ], { duration: 2000, fill: 'forwards' });
        }
        
    }
</script>
</html>