:root {
    --poppins: "Poppins", sans-serif;
    --montserrat: "Montserrat", sans-serif;
}

.cadastro {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
}
.cadastro__titulo {
    margin: 0;
}

.cadastro__titulo a {
    color: #212121;
    text-decoration: none;
}

.cadastro__imagem {
    display: none;
}

@media (min-width: 47.9em) {
    .cadastro__imagem {
        display: block;
        width: 50%;
        background-image: url("../assets/images/homem-celular.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        background-color: #99ceff;
        align-self: stretch;
    }
}

@media (min-width: 90em) {
    .cadastro__imagem {
        background-size: 650px;
    }
}

@media (min-width: 125em) {
    .cadastro__imagem {
        background-position: right;
    }
}

.cadastro__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    font-family: var(--montserrat);
    font-size: 0.875rem;
    color: #212121;
    text-align: center;
    background-color: #f6f6f6;
}

.cadastro__titulo a {
    margin: 0;
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 2.1rem;
    text-decoration: none;
    color: #212121;
}

.cadastro__paragrafo {
    max-width: 400px;
    font-family: var(--montserrat);
    font-size: 0.875rem;
    line-height: 140%;
}

.cadastro__form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    margin-top: 50px;
}

.cadastro__form label {
    display: none;
}

.cadastro__button {
    width: 100%;
    margin-top: 50px;
    padding: 14px 0;
    border: transparent;
    border-radius: 8px;
    font-size: 1.15rem;
    font-weight: 700;
    color: #fff;
    background-color: #0028f1;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.cadastro__button:hover {
    background-color: #0023d2;
}

.cadastro__form a {
    text-decoration: none;
    font-weight: 700;
    color: #0028f1;
    transition: color 0.3s ease-in;
}

.cadastro__form a:hover {
    color: #0023d2;
}

.cadastro__form p {
    margin: 0;
}

.cadastro__input {
    padding: 16px 20px;
    padding-right: 43px;
    border: transparent;
    border-radius: 8px;
    background-color: #eaf0f7;
    outline: transparent;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4f555a;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #4f555a !important;
}

.cadastro__dropdown {
    display: flex;
    justify-content: space-between;
}

.cadastro__select {
    width: 48%;
    padding: 10px 14px;
    border: 6px solid #eaf0f7;
    border-radius: 8px;
    background-color: #eaf0f7;
    color: #4f555a;
    outline: transparent;
}

.cadastro__lembrete {
    text-align: right;
}

.cadastro__telefone {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.cadastro__telefone input {
    width: 100%;
    padding: 10px 14px;
    border: 6px solid #eaf0f7;
    border-radius: 8px;
    background-color: #eaf0f7;
    color: #4f555a;
    outline: transparent;
}

#ddi {
    width: 20px;
}

#ddd {
    width: 50px;
}

input:required:focus:valid {
    background: url("../assets/icons/alert-check.svg") no-repeat 95% 50% #eaf0f7;
    background-size: 18px;
    outline: 2px solid #04cf00;
}

input:required:focus:invalid {
    background: url("../assets/icons/alert-triangle.svg") no-repeat 95% 50%
        #eaf0f7;
    background-size: 20px;
    outline: 2px solid #fa1b1b;
}

@media (min-width: 47.9em) {
    .cadastro__area {
        width: 50%;
        font-size: 1rem;
    }

    .cadastro__titulo a {
        font-size: 2.6rem;
        text-decoration: none;
    }

    .cadastro__paragrafo {
        font-size: 1rem;
        max-width: 400px;
    }

    .cadastro__form {
        max-width: 400px;
    }
}

@media (min-width: 125em) {
    .cadastro__area {
        align-items: flex-start;
        padding: 0 0 0 120px;
    }
}
