*,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden !important;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 80px;
    background-color: #06105e;
}

.dashboard__header {
    display: flex;
    justify-content: center;
    padding: 16px 32px;
    background-color: #14123f;
}

.dashboard__header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dasboard__title {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
}

.dashboard__logout {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: #f6f6f6;
    transition: color 0.3s ease-in;
}

.dashboard__logout:hover {
    color: #6c85ff;
}

.dashboard__main {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dashboard__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    min-height: 70vh;
    padding: 0 32px;
}

.dashboard__content-title {
    order: 2;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #f6f6f6;
    text-align: center;
}

.dashboard__content-btn {
    order: 3;
    margin: 16px auto;
    display: block;
    width: 100%;
    padding: 20px 0px;
    border: transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #4461f2;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.dashboard__content-btn:hover {
    background-color: #002aff;
}

.dashboard__content-texto {
    order: 2;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
}

.dashboard__alerts {
    margin: 32px 0;
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

.dashboard__alerts-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    background-color: #14123f;
    font-weight: 500;
}

.dashboard__alerts-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: white;
    text-align: center;
}

.dashboard__alerts-temperatura {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dashboard__alerts-img {
    width: 115px;
}

.dashboard__alerts-tipo {
    font-size: 18px;
    font-weight: 500;
    color: #e5af00;
}

@media (min-width: 33em) {
    .dashboard__content-texto {
        width: 75%;
    }

    .dashboard__content-btn {
        width: 75%;
    }

    .dashboard__alerts-temperatura {
        flex-direction: row;
        gap: 24px;
    }

    .dashboard__alerts-conteudo {
        flex-direction: row;
        align-items: center;
        width: 75%;
    }

    .dashboard__alerts-texto {
        width: 220px;
    }
}

@media (min-width: 63em) {
    .dashboard__header {
        padding: 16px 73px;
    }

    .dasboard__title {
        font-size: 24px;
    }

    .dashboard__content {
        padding: 0 73px;
    }

    .dashboard__content-title {
        order: 1;
        font-size: 40px;
        font-weight: 500;
        margin: 0;
    }

    .dashboard__content-btn {
        order: 4;
        width: max-content;
        padding: 19px 137px;
        font-size: 20px;
    }

    .dashboard__logout {
        font-size: 20px;
    }

    .dashboard__alerts {
        width: 60vw;
        font-size: 14px;
    }

    .dashboard__alerts-conteudo {
        justify-content: space-between;
        gap: 16px;
    }

    .dashboard__alerts-texto {
        align-items: center;
        gap: 16px;
        width: 290px;
    }

    .dashboard__alerts-tipo {
        font-size: 22px;
    }
}

@media (min-width: 70em) {
    .dashboard__alerts {
        width: 45vw;
    }

    .dashboard__alerts-conteudo {
        width: 560px;
    }

    .dashboard__header div {
        width: 1300px;
    }

    .dashboard__content-btn {
        width: 560px;
    }
}

/* --- Loading Animation --- */

.loader {
    margin: 0 auto;
    width: 100px;
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    width: 90px;
}

.loader-text {
    margin-top: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.loader-text:after {
    content: "Loading";
    animation: load 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: "Carregando";
    }
    33% {
        content: "Carregando.";
    }
    67% {
        content: "Carregando..";
    }
    100% {
        content: "Carregando...";
    }
}
