<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cadastro.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <title>Alerta do Tempo | Cadastro</title>
  </head>
  <body>
    <main>
      <section class="form">
        <div class="form__image"></div>
        <div>
          <form action="">
            <label for="">Teste</label>
            <input type="text" />
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
