<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loading.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="shortcut icon" href="{% static 'assets/icons/logo.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet" />
    <title>Dashboard | Alerta do Tempo</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-center">
                <div class="nav-header">
                    <a href={% url 'homeIndex' %} class="nav-title">
                        <img src="{% static 'assets/images/logo.png' %}" alt="Logo" />
                        <span>
                            Alerta do Tempo
                        </span>
                    </a>
                    <button class="nav-toggle">
                        <img src="{% static 'assets/icons/menu.svg' %}" alt="Menu" />
                    </button>
                </div>
                <ul class="links">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Clima</a>
                    </li>
                    <li>
                        <a href="#">Índice UV</a>
                    </li>
                    <li>
                        <a href="#">Ondas</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="nav-logout">
                            <span>Sair</span>
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.25 6.25H13.75C14.4375 6.25 15 5.6875 15 5C15 4.3125 14.4375 3.75 13.75 3.75H6.25C4.875 3.75 3.75 4.875 3.75 6.25V23.75C3.75 25.125 4.875 26.25 6.25 26.25H13.75C14.4375 26.25 15 25.6875 15 25C15 24.3125 14.4375 23.75 13.75 23.75H6.25V6.25Z"
                                    fill="currentColor" />
                                <path
                                    d="M25.8125 14.5625L22.325 11.075C22.2381 10.9857 22.1265 10.9244 22.0045 10.8989C21.8825 10.8734 21.7556 10.8848 21.6402 10.9318C21.5247 10.9788 21.4259 11.0592 21.3564 11.1626C21.2869 11.2661 21.2499 11.3879 21.25 11.5125V13.75H12.5C11.8125 13.75 11.25 14.3125 11.25 15C11.25 15.6875 11.8125 16.25 12.5 16.25H21.25V18.4875C21.25 19.05 21.925 19.325 22.3125 18.925L25.8 15.4375C26.05 15.2 26.05 14.8 25.8125 14.5625Z"
                                    fill="currentColor" />
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="dashboard">
        {% csrf_token %}
        <article class="data"></article>
        <section class="conteiner">
            <h1 id="titulo" class="conteiner-titulo"></h1>
            <p id="texto" class="conteiner-texto"></p>
            <article id="alerta" class="alertas">
            </article>
        </section>
        <button class="btn">Editar perfil</button>
    </main>
</body>
<script type="text/javascript">
    const URL_PREVISAO = "{% url 'loadPrevisao' %}"
</script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>

</html>
