<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/editar.css' %}" />
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet" />
<title>Editar Perfil</title>
</head>
<body>

  <header class="edit__header">
    <a href={% url 'homeIndex' %} class="edit__title">Alerta do Tempo</a>
    <a href="{% url 'logout' %}" class="edit__logout">Sair</a>
  </header>

  <main class="edit__main">
    <h1 class="edit__content-title">Editar Perfil</h1>
    <section class="edit__content">
        <div class="edit__content-imgs-left">
            <img src="{% static 'assets/images/night-storm.png'  %}" alt="Tempestade" />
        </div>
        <div class="teste">
          <h2>ALguma coisa</h2>
        </div>
        <div class="edit__content-imgs">
          <img src="{% static 'assets/images/sol-nublado.png'  %}" alt="Nublado" />
      </div>
    </section>
  </main>

</body>
</html>