.form {
  display: flex;
  width: 100%;
  height: 100vh;
}

.form__image {
  display: none;
}

@media (min-width: 47.9em) {
  .form__image {
    display: block;
    width: 50%;
    background-image: url('../assets/images/homem-celular.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #99ceff;
    align-self: stretch;
  }
}

@media (min-width: 90em) {
  .form__image {
    background-size: 700px;
  }
}
