<!DOCTYPE html>
<head>
    <title>Alerta do Tempo</title>
</head>
<body id="body">
    <h1>Olha esse Design</h1>
    <form action="" method="post" style="display:inline-grid;" id="formCadastro">
        {% csrf_token %}
        <label for="nome">Nome: </label><input type="text" id="nome" name="nome"/>
        <label for="nome">DDI: </label><input type="text" id="ddi" name="ddi" value="55" readonly style="color: lightslategray;"/>
        <label for="nome">DDD: </label><input type="text" id="ddd" name="ddd"/>
        <label for="celular">Celular: </label><input type="text" id="celular" name="celular"/>
        <label for="senha">Senha: </label><input type="password" id="senha" name="senha"/>
        <label for="estado">Estado: </label>
        <select name="estado" id="estado">
            {% for estado in estados %}
            <option value="{{ estado.id }}">{{ estado.sigla }}</option>
            {% endfor %}
        </select>
        <select name="municipio" id="municipio"></select>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>

<script>
    
    window.onload = function(ev){
        //Carrega DropDown de Munícipio assim que carrega a página
        populaMuncipio();
    }
    //Eventos
    //Submit do formulário
    document.getElementById("formCadastro").addEventListener("submit", submitForm);
    //OnChange do Estado
    document.getElementById("estado").addEventListener("change", populaMuncipio);

    let tokens = document.getElementsByName("csrfmiddlewaretoken");
    let csrf_token = tokens[0].getAttribute("value");

    //Submit do formulário
    function submitForm(event){
        
        event.preventDefault();
        
        let xhr = new XMLHttpRequest();
        var url = "{% url 'clienteCadastra' %}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Accept", 'application/x-www-form-urlencoded');
        xhr.setRequestHeader("Content-Type", 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRF-Token', csrf_token);

        xhr.onload = () => respostaRequisicao(xhr.responseText);

        let data = new URLSearchParams(new FormData(event.target)).toString();

        xhr.send(data);
    };

    //Resposta para inserção do cadastro
    function respostaRequisicao(respostaJSON){
        var resposta = JSON.parse(respostaJSON);
        if(resposta['status'] == true){
            document.getElementById("formCadastro").reset();
        }
        
        alert(resposta['msg']);
       
    }


    function populaMuncipio(event){
        
        let xhr = new XMLHttpRequest();
        var url = "{% url 'loadCidadesByEstado' %}";

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Accept", 'application/json');
        xhr.setRequestHeader("Content-Type", 'application/json');

        xhr.onload = () => respostaPopulaMunicipio(xhr.response);
        let dados = {estado_id: document.getElementById('estado').value}
        let data = JSON.stringify(dados);
        xhr.send(data);
        
    }

    function respostaPopulaMunicipio(dadosJSON){
        var dados = JSON.parse(dadosJSON);
        let select = document.getElementById('municipio');
        select.innerHTML = "";
        for (d of dados['municipios']){
            var opt = document.createElement('option');
            for(key in d){
                opt.value = key;
                opt.innerHTML = d[key]
                select.appendChild(opt);
            }
        }
    }
</script>
</html>